<div class="container px-lg-5">
  <div class="row mx-lg-n5">
    <div class="col py-2 px-lg-2  ">
        <div class="cont">
            <a href="/pick/{{data.0.id}}"><img src="images/{{data.0.deporte}}.jpg" class="thumbNail" alt="">
                <h3 class="csd1">{{data.0.evento}}</h3>
                <h5 class="csd">{{data.0.fecha}}</h5>
            </a>
        </div>
    </div>
    <div class="col py-2 px-lg-2  ">
        <div class="cont">
            <a href="/pick/{{data.1.id}}"><img src="images/{{data.1.deporte}}.jpg" class="thumbNail2" alt="">
                <h3 class="csd1">{{data.1.evento}}</h3>
                <h5 class="csd">{{data.1.fecha}}</h5>
            </a>
        </div>
        <div class="cont">
            <a href="/pick/{{data.2.id}}"><img src="images/{{data.2.deporte}}.jpg" class="thumbNail2" alt="">
                <h3 class="csd1">{{data.2.evento}}</h3>
                <h5 class="csd">{{data.2.fecha}}</h5>
            </a>
        </div>
    </div>
  </div>
  <h2 style="margin-top: 1em; margin-bottom:.5em;" align="center">Últimos Posts</h2>
  <div class="row mx-lg-n5">
      <div class="col py-2 px-lg-2  ">
          <div class="card">
              <img src="/images/{{data.3.deporte}}.jpg" class="img23" alt="">
              <div class="card-body">
                  <h5 class="card-title">{{data.3.evento}}</h5>
                  <p class="card-text">{{data.3.fecha}}</p>
                  <a href="/pick/{{data.3.id}}" class="btn btn-primary">Ver Más</a>
              </div>
          </div>
      </div>
      <div class="col py-2 px-lg-2  ">
          <div class="card">
              <img src="/images/{{data.4.deporte}}.jpg" class="img23" alt="">
              <div class="card-body">
                  <h5 class="card-title">{{data.4.evento}}</h5>
                  <p class="card-text">{{data.4.fecha}}</p>
                  <a href="/pick/{{data.4.id}}" class="btn btn-primary">Ver Más</a>
              </div>
          </div>
      </div>
      <div class="col py-2 px-lg-2  ">
          <div class="card">
              <img src="/images/{{data.5.deporte}}.jpg" class="img23" alt="">
              <div class="card-body">
                  <h5 class="card-title">{{data.5.evento}}</h5>
                  <p class="card-text">{{data.5.fecha}}</p>
                  <a href="/pick/{{data.5.id}}" class="btn btn-primary">Ver Más</a>
              </div>
          </div>
      </div>
      <div class="col py-2 px-lg-2  ">
          <div class="card">
              <img src="/images/{{data.6.deporte}}.jpg" class="img23" alt="">
              <div class="card-body">
                  <h5 class="card-title">{{data.6.evento}}</h5>
                  <p class="card-text">{{data.6.fecha}}</p>
                  <a href="/pick/{{data.6.id}}" class="btn btn-primary">Ver Más</a>
              </div>
          </div>
      </div>
  </div>
</div>

